*{
    margin: 0;
    padding: 0;
}
.Banner{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./HomeBanner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav a{
    display: inline;
    min-height: 50px;

}
nav img{
    width: 150px;
}
.nav-links{
    text-align: left;
    display: inline-block;
    width: 100%
}
.nav-links ul{
    margin-left: 40%;
    display: inline-block;
}

.nav-links ul li{
    list-style: none;
    display: inline;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:20px;
}
.nav-links ul li a:hover{
    background: #008000;
    transition: 0.5s; 
}
.footer{
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 30px 0;
    background-color: cadetblue;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
@media (max-width: 680px) {
    .nav-links ul li a{

        font-size: 15px;
    }
    nav ul{
        margin: 0 !important;
    }
}
.imgGallery{
    position: relative;
    min-height: 100vh;
    background: #fff;

}
.imgGallery h1{
    font-size: 40px;
    font-family: Verdana, geneva, tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}
.imgGallery .imgContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.imgGallery .imgContainer .image{
    height: 250px;
    width: 350px;
    border: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}
.imgGallery .imgContainer .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.imgGallery .imgContainer .image:hover img{
    transform: scale(1.1);
}
.imgGallery .popup{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.imgGallery .popup span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.imgGallery .popup img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
div .popup{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0; left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
div .popup img{
    width: 90%;
    max-width: 500px;
}
div.popup span{
    position: absolute;
    top: 5%; right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}